#include "templates/header.tmpl"    
    <img src="/static/maggot.png" alt="maggot" />
    #if len($corpora):
    <h3>Current Corpora:</h3>
    <ul>
      #for $corpus in $corpora:
        <li><a href="/corpus?cid=$corpus.id">$corpus.name</a></li>
      #end for
    </ul>
    #end if
    #if len($old_corpora):
    <h3>Digested Corpora:</h3>
	<ul>
      #for $corpus in $old_corpora:
        <li><a href="/corpus?cid=$corpus.id">$corpus.name</a></li>
      #end for
    </ul>
    #end if
    <h3>Actions:</h3>
    <ul>
        <li><a href="/newsession">Create New Corpus</a></li>  
    </ul>
#include "templates/footer.tmpl"
